<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ES:--ext-ip" value="127.0.0.1"  />
    <add key="ES:--int-ip" value="127.0.0.1"  />
    <add key="ES:--int-tcp-port" value="2118"  />
    <add key="ES:--ext-tcp-port" value="2118"  />
    <add key="ES:--int-http-port" value="2119"  />
    <add key="ES:--ext-http-port" value="2119"  />
    <add key="ES:--db" value="data"  />
    <add key="ES:--log" value="log"  />
    <add key="ES:--run-projections" value="All"  />

    <add key="Service:EsExeLocation" value="."  />


    <add key="BackUp:Enable" value="false"/>
    <add key="BackUp:Path" value="./Data/BackUp"/>
    <add key="BackUp:RunsAt" value="23"/>
    <add key="BackUp:Timeout" value="30"/>
  </appSettings>
</configuration>
