<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  
  <appSettings>
    <add key="ES:--ext-ip" value="127.0.0.1"  />
    <add key="ES:--int-ip" value="127.0.0.1"  />
    <add key="ES:--int-tcp-port" value="2116"  />
    <add key="ES:--ext-tcp-port" value="2116"  />
    <add key="ES:--int-http-port" value="2117"  />
    <add key="ES:--ext-http-port" value="2117"  />
    <add key="ES:--db" value="data"  />
    <add key="ES:--log" value="log"  />
    <add key="ES:--run-projections" value="All"  />

    <add key="Service:EsExeLocation" value="."  />


    <add key="BackUp:Enable" value="true"/>
    <add key="BackUp:Path" value="./Data/BackUp"/>
    <add key="BackUp:RunsAt" value="23:15"/>
    <add key="BackUp:Timeout" value="30"/>
  </appSettings>



  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="log.txt" />
      <threshold value="INFO" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  
</configuration>